html, body {
    height: 100vh;
}

.div-player-buttons {
    position: relative;
    height: 100vh;
}

#btn-player-1 {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#btn-player-2 {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

#btn-player-3 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#btn-player-4 {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
#div-tbl-points { display: grid;} 
#tbl-points {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
}
